/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

body {
    background-image: url(Res/img/IMG-landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
    overflow: hidden;
    
}

.entire-section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: whitesmoke;
}

.landing-title {
    font-size: 100px;
    margin-top: 13%;
    font-family: Eczar;
}

.landing-description {
 color: white;
}

.landing-button {
    border-radius: 4px;
    background-color: #343434;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }

.landing-button .button-text {
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }
  
.landing-button .button-text:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.landing-button:hover .button-text {
    padding-right: 25px;
}
  
.landing-button:hover .button-text:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 750px) {
    body {
        background-position: center;
        background-position: initial;
        height: 100vh;
    }

    .entire-section {
        padding-top: 30%;
    }
}