#aboutusnav{
    color: rgb(0, 0, 0);
    background-color: #F4EAE0;
    padding: 13px 13px;
    border-radius: 5px;
}
.navi:hover{
    color: rgb(0, 0, 0);
    background-color: #FAF6F0;
    border-radius: 5px;
}