*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}
.heading{
    background-color: #f3f3f3;
    margin-bottom: 5px;
    padding: 10px 0;
    grid-column: 1/-1;
    text-align: center;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation : fadelnUp 2s ease;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 800;
    color: #ff6347;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ff6347;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #ff6347;
    cursor: pointer;
}
.contact-left button:hover {
    background-color: #a1251d;
}
@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
}
@keyframes fadelnUp {
    0%{
     opacity: 0;
     transform: translateY(50px);
    }
    100%{
     opacity: 1;
     transform: translateY(0px);
    }
 }
/*for working contact web3forms pero la panaman so yeah note to self lang 